* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  --moz-appearance: textfield;
  padding: 3px 5px;
  margin-left: 10px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 5);
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

input[type="checkbox"] {
  --moz-appearance: textfield;
  margin-right: 10px;
  height: 1.3em;
  width: 1.3em;
  background: #606062;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px rgba(0, 5);
  accent-color: #2200ff;
}

body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background: #f2f2f2;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  padding: 25px 100px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h2 {
  width: 100%;
  display: flex;
  text-align: center;
}

.button-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(236, 85, 85);
  color: white;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}
label:hover {
  background-color: rgb(255, 0, 0);
}

.output {
  margin-top: 15px;
  padding: 10px 20px;
  background: #eee;
  border-radius: 5px;
  word-break: break-all;
}

.copy-reset {
  display: flex;
  gap: 20px;
  justify-content: center;
}

button {
  margin-top: 15px;
  width: 70%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}

#copy {
  margin-top: 15px;
  width: 40%;
  padding: 10px;
  background-color: #18cd39;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}

#copy:hover {
  background: #51d055;
}

#reset {
  margin-top: 15px;
  width: 40%;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
}

#reset:hover {
  background: #ab1919;
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .container {
    width: 100%;
    padding: 15px;
    font-size: 0.95rem;
  }

  label {
    font-size: 0.95rem;
  }

  #length {
    margin-left: 170px;
  }

  input[type="number"] {
    padding: 8px;
    font-size: 1rem;
  }

  input[types="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #2200ff;
  }

  button {
    font-size: 1rem;
    padding: 10px;
  }

  .output {
    font-size: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  #length {
    margin-left: 70px;
  }
}
